* {
    font-family: monospace;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(75, 236, 11);
    border: 5px solid #000;
}

#high-scores {
    width: fit-content;
    padding-left: 2%;
    background-color: aqua;
    border: 2px solid #000;
}

#timer {
    width: fit-content;
    padding-right: 2%;
    background-color: aquamarine;
    border: 2px solid #000;
}